.banner_apropos{
    background: rgba(0, 0, 0, 0.3) url("../assets/banner_a_propos.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;
    height: 14rem;
    border-radius: 25px;
    margin: map-get($map: $espacements, $key: bodyMargin);
    margin-bottom: 1rem;
    
    @include mobile() {
        background: rgba(0, 0, 0, 0.3) url("../assets/banner_a_propos_mobile.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-blend-mode: darken;
        height: 223px;
    }
    
    @include tablette(){
        height: 10rem;
    } 
}


// collapse
.dropdown {
    display: flex;
    flex-direction: column;
    max-width: 1024px;
    width: 100%;

    @include tablette(){
        width: 90%;
    }

    &_header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        background-color: #ff6060;
        height: 47px;
        border-radius: 5px;
        padding: 0 1rem;
        font-weight: 500;
        font-size: 24px;
        color: white;

        @include mobile(){
            font-size: 13px;
        }
    }
    button {
        background: none;
        border: none;
        height: 47px;
        width: 47px;
    }
}

.arrow {
    transition: transform 0.4s;
    &--down {
        transform: rotate(0deg);
    }

    &--up {
        transform: rotate(-180deg);
    }
}

.content {
    background-color: #f6f6f6;
    border-radius: 0 0 5px 5px;
    color: #ff6060;
    font-weight: 400;
    font-size: 24px;
    padding: 1.5rem 0.5rem 0.5rem 1rem;
    overflow: hidden;
    display: block;
    line-height: 1.5em;
    &--hidden {
        display: none;
    }

    @include mobile(){
        font-size: 12px;
    }
}

.about{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    @include mobile(){
        margin: map-get($map: $espacements, $key: bodyMargin);
    }
}