.banner_apropos{
    background: rgba(0, 0, 0, 0.3) url("../assets/banner_a_propos.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;
    height: 14rem;
    border-radius: 25px;
    margin: map-get($map: $espacements, $key: bodyMargin);
    
    @include mobile() {
        height: 7rem;
    }
    
    @include tablette(){
        height: 10rem;
    } 
}
