.logement{
    margin: map-get($map: $espacements, $key: bodyMargin);

    &_top{
        margin-bottom: 2rem;
    }

    &_title{
        color: $primaire;
        font-weight: 500;
        font-size: 36px;
        margin-bottom: 1rem;

        @include mobile(){
            font-size: 18px;
        }
    }
    &_location{
        color: $primaire;
        font-weight: 500;
        font-size: 18px;

        @include mobile(){
            font-size: 14px;
        }
    }
}

.logement_top{
    display: flex;
    justify-content: space-between;

    @include mobile(){
        flex-direction: column;
    }
}

.logement_hostCard{
    @include mobile(){
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        margin-top: 1rem;
    }
}

.about_logement{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem;
    
    @include mobile(){
        grid-template-columns: 1fr;
        gap: 2rem;
    }
}