.logement{
    margin: map-get($map: $espacements, $key: bodyMargin);

    &_title{
        color: $primaire;
        font-weight: 500;
        font-size: 2.25rem;
        margin-bottom: 1rem;
    }
    &_location{
        color: $primaire;
        font-weight: 500;
        font-size: 1.12rem;
    }
}

.about_logement{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 6rem;
    // &_equipments{
    
    // }
}