.tags {
    display: flex;
    @include mobile (){
        flex-wrap: wrap;
    }
}
  
.each_tag {
    background-color: $primaire;
    color: white;
    border-radius: 10px;
    padding: 0.3em 3em;
    margin-right: 1em;
    margin-top: 0.5em;
    text-align: center;
    font-weight: 500;

    @include mobile(){
        font-size: 10px;
    }
}