.footer{
    background-color: black;
    text-align: center;
    padding: 66px 0 29px 0;
    margin-top: 5rem;

    &_text{
        color: white;
        font-size: 24px;

        @include mobile(){
            font-size: 12px;
        }
    }
}